h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #1D1D1F;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #F5F5F7;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  margin-bottom: 40px;
  width: 100%;
  max-width: 60rem;
}

label {
  font-weight: 500;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  resize: none;
}

button {
  background-color: #0071E3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

button:hover {
  background-color: #005BBB;
}

@media (max-width: 600px) {
  form {
    padding: 15px;
  }

  h2 {
    font-size: 1.6em;
  }

  input,
  textarea {
    font-size: 13px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}