.productos {
  max-width: 1200px;
  text-align: center;
}

.productos h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #1D1D1F;
  margin-bottom: 40px;
}

.contenedor-productos {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 35px;
}

.tarjeta {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
  gap: 12px;
  background-color: #F5F5F7;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  width: 360px;
  padding: 2rem 2rem;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;
}

.tarjeta h3 {
  font-family: 'Montserrat', sans-serif;
  color: #0071E3;
  margin-bottom: 8px;
}

.tarjeta p {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.precio {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #1D1D1F;
  margin-bottom: 12px;
}

.tarjeta button {
  background-color: #0071E3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tarjeta button i {
  margin-right: 6px;
}

.tarjeta button:hover {
  background-color: #005BBB;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .tarjeta{
    width: 280px;
  }
}

.escenario {
    position: relative;
    bottom: 10px;
    width: 128%;
    height: 100px;
    overflow: hidden;
}

.sonic {
    position: absolute;
    bottom: 10px;
    width: 80px;
    animation: correr 12s linear infinite;
}

@keyframes correr {
    0% {
        left: -10%;
        transform: scaleX(1);
    }
    50% {
        left: 300%;
        transform: scaleX(1);
    }
    50.01% {
        transform: scaleX(-1);
    }
    100% {
        left: -100%;
        transform: scaleX(-1); 
    }
}

@media (max-width: 600px) {
  .sonic {
    animation: correr 8s linear infinite;
}
}