@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;

    background-color: #FFFFFF;
    color: #1D1D1F;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D1D1F;
  padding: 1.5rem 3rem;
}

.logo {
  height: 60px;
}

@media (max-width: 600px){
    header {
        font-size: small;
        padding: 1rem 2rem;
    }

    .logo {
        height: 30px;
    }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #757575;
}

/*MAIN*/
main {
  width: 80%;
  margin: auto;
  padding: 4rem 2rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  display: block;
  margin: 0 auto 40px auto;
  border-radius: 8px;
  width: 75%;
  height: auto;
}

@media (max-width: 768px) {
  video {
    width: 100%;
    height: auto;
  }
}

/*FOOTER*/
footer {
  background-color: #F5F5F7;
  color: #1D1D1F;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #E0E0E0;
  font-size: 14px;
}

footer a {
  color: #0071E3;
  text-decoration: none;
}

footer a:hover {
  color: #005BBB;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #0071E3;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #005BBB;
  transform: scale(1.15);
}
